.layout {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 2rem;
}

.footer {
  background: var(--color-primary);
  color: var(--color-text-inverse);
  text-align: center;
  font-size: 0.8rem;
  padding: 0.9rem;
}
